@import '_mixins';

.bio {
    width: 500px;
    float: left;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-right: 20px;
    margin-top: 20px;
  
   
    .bio-title {
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .bio-content {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .add-bio-button {
        margin-top: 10px;
        background-color: #f0f0f0;
        color: #555;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 14px;
        width: 80%;
      }
  
      .graduation {
        margin-top: 10px;
        display: flex;
        align-items: center;
  
        .graduation-icon {
          font-size: 18px;
          margin-right: 5px;
        }
      }
  
      .edit-details-button,
      .add-hobbies-button,
      .add-featured-button {
        margin-top: 10px;
        background-color: #f0f0f0;
        color: #555;
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 14px;
        width: 80%;
  
        &:not(:last-child) {
          margin-top: 10px;
        }
      }
    }
  }
  